.photo-profil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}